@charset "utf-8";

#header_div {
  text-align: center;
  position: relative;
  width:100%;
  height: 0;
}

/* header, main {
  margin: 5px;
  padding: 5px;
} */
header {
  width: 100%;
  height: 10%;
  background-color: lightgray;
}
main {
  float: left;
  width: 28%;
  text-align: center;
  position: relative;
}
#PrevButton{
  text-decoration: none;
  display: inline-block;
  margin-right:10px;
}
#PrevButton:hover,#NextButton:hover{
  background-color: lightgray;
  color:black
}
#NextButton{
  text-decoration: none;
  display: inline-block;
  margin-left:10px;
}
#testDB{
  overflow: scroll;
  height:500px;
}
#TimeIcon{
  font-size:40px;
  margin-top: 15%;
}
#InitButtonMargine{
  margin-bottom: 10px;
}
input {
  margin-top: 2em;
  padding-left: 2em;
}

#CategoryFrame {
  border: 1px solid black;
  width: 100%;
}
/* .CategorySelectBoxFrame {
  position: relative;
  padding-left: 3em;
} */
#CategorySelectBox,#r_CategorySelectBox,#a_CategorySelectBox{
  display: block;
  width: 80%;
  margin: auto;
}

#selector {
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
}

#CategoryItemBtnMargine {
  margin:3% 10%;
  width:auto;
  float: right;
  position: relative;
}

#a_CategoryItemBtnMargine {
  margin:18% 10%;
  width:auto;
  position: relative;
}

#y_CategoryItemBtnMargine {
  margin:18% 10%;
  width:auto;
  position: relative;
}

#j_logo_img {
  height: 50px;
  width: 120px;
  top: 10px;
  position: relative;
}

#logo_img, #r_logo_img {
  height: 50px;
  width: 120px;
}
#logo_div {
	display: inline;
  position: absolute;
  top: 10px;
  left: 15em;
}

#j_logo_img:hover, #submit:hover ,#r_logo_img:hover{
  cursor: pointer;
}

#form {
  padding-top: 3px;
  text-align: center;
}
#input {
  height: 30px;
  width: 35%;
}
#Top{
  cursor:pointer;
  /* display: block; */
  background-color: lightgray;
  text-align: center;
  vertical-align: middle;
  height: 4%;
  width:4%;
  position: fixed;
  bottom:5%;
  right:5px;
}
aside{
  position:fixed;
  top:5%;
  right:5px;
  text-align: center;
  width:10%;
  float: right;
  height: 100%;
}
div.sticky{
  /* border: 1px solid black; */
  position: fixed;
  margin-top:1%;
  top: 10%;

}
html{
  height: 100%;
}
body {
  height: 100%;
  font-size: 1em;
  color: #333;
  font-family: "Times";
}
